:root {
    --color001: #f5ecddff;
    /* Beige cálido */
    --color002: #253c4cff;
    /* Azul grisáceo oscuro */
    --color003: #7d5b3eff;
    /* Marrón tierra */
    --color004: #3c5a6eff;
    /* Azul verdoso suave */
    --color005: #a64e2aff;
    /* Terracota intenso */
    --color006: #e8b86bff;
    /* Dorado pastel */
    --color006D: #ba9356ff;
    /* Dorado pastel oscuro */

    --trans: #00000033;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: var(--color001);
    padding: 20px;
}

.logo {
    text-decoration: none;
}

.logo img {
    height: 50px;
}